{
    "swagger": "2.0",
    "info": {
        "description": "ginframework项目",
        "title": "ginframework项目",
        "contact": {
            "name": "wuzehui"
        },
        "version": "1.0"
    },
    "host": "liangjun.work",
    "basePath": "/",
    "paths": {
        "/": {
            "get": {
                "description": "测试",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "测试"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页数量",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/static.Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/static.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "static.Response": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}